<div class="row p-3">
    <div class="col-8 mx-auto">
        <h1>Todos App</h1>
        <div class="my-2">
            <form [formGroup]="newTodo" (ngSubmit)="handleSubmit($event)">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="flex-grow-1 me-5">
                        <input-group-component
                            [formGroup]="newTodo"
                            [props]="propsInput"
                        ></input-group-component>
                    </div>
                    <div>
                        <button-component [props]="propsBtn"></button-component>
                    </div>
                </div>
            </form>
        </div>
        <div class="my-2">
            <list-group-component
                [props]="propsList"
                (onEmitEvent)="handleEvent($event)"
            ></list-group-component>
        </div>
    </div>
</div>
